<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>타입리프 연습1</title>
</head>
<body>
    <h1>Thymeleaf 연습 1 페이지</h1>
    <div>
        상품명 : <span th:text="${itemDto.itemNm}"></span>
    </div>
    <div>
        상품 상세 설명 : <span th:text="${itemDto.itemDetail}"></span>
    </div>
    <div>
        가격 : <span th:text="${itemDto.price}"></span>
    </div> <div>
        재고 : <span th:text="${itemDto.stockNumber}"></span>
    </div>
    <div>
        <a th:href="@{/item/thymeleaf2(name='홍길동',age=10)}">thymeleaf2로 이동</a>
    </div>

</body>
</html>